<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD10gF_CsidmO2Eje2dRA-VWq01PpXDxvA</string>
	<key>GCM_SENDER_ID</key>
	<string>205152536679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dreamtoon</string>
	<key>PROJECT_ID</key>
	<string>dream-toon</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-toon.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205152536679:ios:54a33daadb3df67b132cc2</string>
</dict>
</plist>