OPENAI_API_KEY=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_PROJECT_REF=
SUPABASE_SERVICE_ROLE_KEY=
# Set to "true" to enable debug logging
DEBUG=
# Leave these blank until you migrate to Cloudflare Images
CF_ACCOUNT=
CF_IMAGES_TOKEN=

# Firebase configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
